<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>bigdata</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link
      rel="preload"
      type="text/css"
      as="style"
      onload="this.rel = 'stylesheet'"
      href="<%=htmlWebpackPlugin.files.css[css] %>"
    />
    <% } %>
  </head>
  <body>
    <div id="root"></div>
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script defer="defer" src="<%=htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
  </body>
</html>
