.tabs {
  .wrap {
    margin-bottom: -1px;
  }
}

.is_active {
  @apply font-medium text-brand-G11 bg-white;

  border-top-width: 3px;
  border-top-color: theme('colors.brand.G11') !important;
  span {
    @apply inline-block transform -translate-y-0.5;
  }
}
