.infoIcon {
  width: 350px;
  height: 220px;
  background: url('assets/create-intro.svg') no-repeat left center;
  background-size: contain;
  padding-left: 350px;
}

.step2Icon {
  width: 160px;
  height: 160px;
  background: url('assets/create-step2.svg') no-repeat left center;
  background-size: contain;
  padding-left: 160px;
}
