/* .tabWrapper {
  :global {
    .tab-content {
      @apply tw-flex-1 !tw-py-0;
      .tab-panel {
        @apply tw-h-full;
      }
    }
    .tabs.is-boxed {
      @apply tw-bg-neut-17;

      ul {
        @apply tw-border-neut-17;
        li {
          @apply !tw-bg-neut-16 !tw-border-neut-18 !tw-text-white;
          svg {
            color: hsla(0, 0%, 100%, 0.9);
            fill: hsla(0, 0%, 100%, 0.4);
          }
        }
        li:hover {
          @apply tw-text-white;
        }
        li.is-active {
          @apply !tw-bg-neut-18;
        }
      }
    }
  }
}

.btn {
  @apply tw-border tw-rounded-sm tw-border-neut-13 tw-px-3 tw-h-8 tw-flex tw-items-center tw-outline-none;
  @apply focus:tw-outline-none hover:tw-bg-neut-17 tw-mr-2;
  span:last-child {
    @apply tw-ml-1.5;
  }
}

.menu {
  @apply !tw-bg-neut-16;
  :global {
    .menu-item {
      @apply tw-text-white;
      &:hover {
        @apply tw-bg-neut-13 tw-text-white;
      }
    }
    .menu-inline-submenu-title {
      @apply tw-bg-neut-13;
      &:hover {
        @apply tw-text-white tw-bg-neut-13;
      }
    }
    .menu-item:active,
    .menu-item-selected,
    .menu-item-selected:hover {
      @apply tw-bg-neut-16;
    }
  }
} */
