.workspace {
  &:nth-child(odd) {
    @apply tw-pr-2;
  }

  &:nth-child(even) {
    @apply tw-pl-2;
  }
}

.st_active {
  @apply tw-text-brand-G11 tw-bg-brand-G0;
  svg {
    color: #00aa72;
    fill: #dff7ed;
  }
}
.st_forbidden {
  color: #a16207;
  background-color: #fffded;
  svg {
    color: #a48a19;
    fill: rgba(255, 209, 39, 0.2);
  }
}

.btn {
  @apply tw-font-semibold tw-text-xs focus:tw-outline-none tw-rounded-sm tw-text-neutral-N13  tw-bg-neutral-N1 tw-border tw-border-neutral-N3 hover:tw-bg-brand-G0 hover:tw-border-brand-G11 hover:tw-shadow hover:tw-text-brand-G11 tw-transition-colors;
  @apply tw-mr-4 tw-px-8 tw-py-1;
  &:last-child {
    @apply tw-mr-0;
  }
}

.gridBtn {
  @apply tw-px-3 tw-mr-2;
}

.moreMenuItem {
  @apply tw-py-1 tw-pl-2 tw-cursor-pointer hover:tw-bg-neutral-N2;
}

.ws_0 {
  border-top-color: #b3e7d6 !important;

  .profile {
    color: #2fb788;
    background-color: #b3e7d6;
  }
}

.ws_1 {
  border-top-color: #f2c0c3 !important;

  .profile {
    background-color: #f2c0c3;
    color: #d44e4b;
  }
}

.ws_2 {
  border-top-color: #cfafe9 !important;

  .profile {
    background-color: #cfafe9;
    color: #934bc5;
  }
}

.ws_3 {
  border-top-color: #b8def9 !important;

  .profile {
    background-color: #b8def9;
    color: #229ce9;
  }
}

.ws_4 {
  border-top-color: #fbdeb4 !important;

  .profile {
    background-color: #fbdeb4;
    color: #f59c2a;
  }
}
