.menuSelected {
  @apply tw-text-green-11;

  svg {
    @apply tw-text-green-11;

    fill: theme('colors.green.4');
  }
}

.menuLink {
  @apply tw-text-neut-13 hover:tw-text-green-11;

  svg {
    fill: rgba(255, 255, 255, 0.6);
  }
  &:hover {
    svg {
      @apply tw-text-green-11;

      fill: theme('colors.green.4');
    }
  }
}
